@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*************************
*******HOMEPAGE******
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(rgba(7, 7, 7, 0.5), rgba(5, 5, 5, 0.5)), url('imeg/comfyroom.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
}

header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
 }
 
.logo {
    position: static;
    font-size: 1.5em;
    color: #9595d0;
 }

.sec {
    color: #ebb70c;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
}
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0px;
    bottom: -5px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
}
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}
.wrapper {
    position: relative;
    width: 400px,100%;
    height: 400px,100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 2;
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 300px;
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.forgot{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.forgot{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 22px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2.5em;
    color: #162938;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 60%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}
.input-box select {
    position: relative;
    left: 35%;
    top: 35%;
    background: transparent;
    width: 75px;
    height: 25px;
}
.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a.forgot-link{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.return {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: center;
}
.return a.login-link{
    color: #fff;
    text-decoration: none;
}
.return a.login-link:hover {
    text-decoration: underline;
}
.pforg {
    text-align: center;
    color: #fff;
}
.btn {
    width: 100%;
    height: 35px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*************************
*******FOOTER******
**************************/

.footer-nav {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 99;
}
.footer-nav a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    margin-left: 50px;
}
.ultra-bottom {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 10px;
}

/*************************
*******regform******
**************************/
.regform {
    position: absolute;
    width: 450px;
    height: 65%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.reg-form h1 {
    font-size: 2.5em;
    color: #162938;
    text-align: center;
}